<div class="page-heading">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>        
        <li class="breadcrumb-item">{{title}}</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Rounded Pills</div><a >{{e.empresa}}</a>
                <div>
                        <button class="btn btn-info btn-icon-only btn-circle btn-sm btn-air" ><i class="la la-pencil"></i></button>
                        <button class="btn btn-primary btn-icon-only btn-circle btn-sm btn-air"><i class="la la-music"></i></button>
                        <button class="btn btn-pink btn-icon-only btn-circle btn-sm btn-air"><i class="la la-comments"></i></button>
                        
                        <button class="btn btn-danger btn-icon-only btn-circle btn-sm btn-air"><i class="la la-warning"></i></button>
                        <button class="btn btn-white btn-icon-only btn-circle btn-sm btn-air"><i class="la la-cloud-download"></i></button>
                </div>                
                <ul class="nav nav-pills nav-pills-rounded nav-pills-air">
                    <li class="nav-item">
                        <a class="nav-link active" href="#tab-1-1" data-toggle="tab">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab-1-2" data-toggle="tab">Second</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab-1-3" data-toggle="tab">Third</a>
                    </li>
                </ul>
            </div>
            <div class="ibox-body">
                <div class="tab-content">
                    <form class="form-info" action="javascript:;">
                        <div class="tab-pane fade show active" id="tab-1-1">
                                <div class="row">
                                    <div class="col-sm-3 form-group mb-4">
                                        <label>ID</label>
                                        <input class="form-control" type="text" placeholder="ID">
                                    </div>
                                    <div class="col-sm-3 form-group mb-4">
                                        <label>Empresa</label>
                                        <input class="form-control" type="text" placeholder="Empresa">
                                    </div>
                                    <div class="col-sm-6 form-group mb-4">
                                        <label>Nombre</label>
                                        <input class="form-control" type="text" placeholder="Nombre">
                                    </div>                      
                                </div>
                                <div class="row">
                                        <div class="col-sm-3 form-group mb-4">
                                            <label>Estatus</label>
                                            <input class="form-control" type="text" placeholder="Estatus">
                                        </div>
                                        <div class="col-sm-3 form-group mb-4">
                                            <label>RFC</label>
                                            <input class="form-control" type="text" placeholder="RFC">
                                        </div>
                                        <div class="col-sm-3 form-group mb-4">
                                            <label>Grupo</label>
                                            <input class="form-control" type="text" placeholder="Grupo">
                                        </div>                      
                                    </div>                                
                        </div>

                        <div class="tab-pane fade" id="tab-1-2">Ut lorem ut enim culpa excepteur veniam voluptate sunt mollit non quis ea fugiat voluptate est tempor veniam est voluptate cillum eu exercitation fugiat dolor voluptate enim dolore exercitation nostrud dolor minim dolore
                            pariatur do in in anim in dolor id ad eiusmod velit nisi tempor sint esse dolore qui laboris ad eiusmod pariatur id eu dolore labore ad commodo qui voluptate in ipsum ut irure magna in non do enim deserunt mollit
                            sint id sed deserunt in velit incididunt pariatur sunt nisi lorem duis laboris sunt laboris dolor in velit est aute cillum nulla et dolor aliquip esse non.</div>
                        <div class="tab-pane fade" id="tab-1-3">do reprehenderit aliqua anim laboris elit quis ad esse labore consectetur dolore ad enim proident consequat nostrud lorem adipiscing proident esse excepteur velit dolor tempor ut incididunt nostrud occaecat veniam cupidatat
                            eu ex cupidatat dolor dolor sunt consequat ut esse dolor quis in sed do dolor voluptate nulla ut eiusmod sint aliqua fugiat labore in sit voluptate ea laboris occaecat fugiat aute in non elit commodo minim non in
                            laboris laboris ad magna et pariatur.</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>