<div class="page-heading">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/index"><i class="la la-home font-20"></i></a>
        </li>        
        <li class="breadcrumb-item">{{title}}</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <div>
                <!-- <h5 class="font-strong mb-4">{{title}}</h5> -->
                <button class="btn btn-success btn-icon-only btn-circle btn-sm btn-air" ><i class="la la-plus" routerLink="/user/edit/0"></i></button>
            </div>
            
            <div class="flexbox mb-4">
                <div class="flexbox">
                    <label class="mb-0 mr-2">Type:</label>
                    <select class="selectpicker show-tick form-control" id="type-filter" title="Please select" data-style="btn-solid" data-width="150px">
                        <option value="">All</option>
                        <option>ALTA</option>
                        <option>BAJA</option>
                        <option>PENDIENTE</option>
                    </select>
                </div>
                <div class="input-group-icon input-group-icon-left mr-3">
                    <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                    <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Search ...">
                </div>
            </div>
            <div class="table-responsive row">
                <table class="table table-bordered table-hover" id="datatable_user">
                    <thead class="thead-default thead-lg">
                            
                        <tr>
                            <th>#</th>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>R.F.C.</th>
                            <th>Estatus</th>
                            <th>Grupo</th>
                            <th>Fecha Alta</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of userlst; let i = index">                                 
                            <td>{{i}}</td>
                            <td>
                                <h5 class="m-0"><a routerLink="/user/edit/{{u._id}}">{{u.surname}}</a></h5>
                            </td>
                            <td>{{u.nombre}}</td>
                            <td>{{u.rfc}}</td>
                            <td>
                                <span [ngClass]="mk_getClass(u.estatus)">{{u.estatus}}</span>
                            </td>
                            <td>{{u.grupo}}</td>
                            <td>{{u.fechaAlta | date:formatoFecha}}</td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

